

html, body {
    font-family: 'Open Sans', sans-serif;
    margin:0;
    height: 100%;
    overflow: hidden;
}

scroll-container{
    display: block;
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding: 0% 27%;
}

.nav-bar {
    background-color: white;
    min-height: 50px;
    display: flex;
    position: fixed;
    width: -webkit-fill-available;
    padding: 10px 27%;
    justify-content: space-between;
    box-shadow: 0px 0px 0.2px 0px;
}

.nav-bar.buttons{
    display:flex;
}


.nav-bar-button {
    text-decoration: none; 
    color: black;
    text-transformation: none;
    margin-right: 20px;
    font-size: 16px;
    line-height: 40px;
}

.nav-bar-title {
    font-size: 20px;
    text-decoration: none;
    color: black;
    text-transform: none;
    font-weight: bold;
    line-height: 40px;
}

a:hover{
  text-decoration: none;
  color: blue;
}
  
a:active{
  text-decoration: none;
  color: #00008B;
}

h1{
  margin-right: 150 px;
  margin-left: 150 px;
}

h2{
  margin-right: 150 px;
  margin-left: 150 px;
}

p{
  margin-right: 150 px;
  margin-left: 150 px;
}

img.screen{
  width: 200 px; 
  height: 150 px;
  margin-right: 150 px;
  margin-left: 150 px;
}

.screen {
    /*same height as nav bar*/
    padding-top: 68px;
}

.screen p {
    color: #555555;
    font-size: 19px;
    padding: 0px;
    line-height: 1.4;
}

.screen a {
    color:#274cce;
    text-decoration: none;
}

.screen h1 {
    margin: 0px;
}

@media screen and (max-width: 900px) {
    .screen {
        padding-top: 100px;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
}
  

.column {
    flex: 50%;
    max-width: 50%;
}
  
.column img {
    vertical-align: middle;
    width: 100%;
}
  
@media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
}


  

