

body {
    font-family: 'Open Sans', sans-serif;
    margin:0;
    padding:0;
}

.nav-bar{
    overflow: hidden;
    position: fixed;
    top: 0;
}

a{
  text-decoration: none;
  color: blue;
}

a:hover{
  text-decoration: none;
  color: blue;
}
  
a:active{
  text-decoration: none;
  color: #00008B;
}

h1{
  margin-right: 150 px;
  margin-left: 150 px;
}

h2{
  margin-right: 150 px;
  margin-left: 150 px;
}

p{
  margin-right: 150 px;
  margin-left: 150 px;
}

img.screen{
  width: 200 px; 
  height: 150 px;
  margin-right: 150 px;
  margin-left: 150 px;
}


  

