body {
    font-family: 'Open Sans', serif;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline;
}


.screen{
    color: lightblue
    font-family: 'Open Sans', verdana; 
}

.nav-bar{
 
}

h1 {
    font-size: 3em;
    font-family:'Open Sans', 'Arial', 'Sans-Serif';
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
